@use './variables' as *;
@use './mixins' as *;
@use './global' as *;

//Footer Section
.footer {
    background-color: $bandsite-black;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    &__container {
        @include tablet {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding-top: 3%;
        padding-left: 4.2%;
        }

        @include desktop {
            display: flex;
            align-items: baseline;
            justify-content: flex-start;
            padding-top: 3%;
            padding-left: 12%;
        }
    }

    &__title {
        color: $color-white;
        padding: 1.5rem 0 0 1rem;
        margin-bottom: 1.5rem;
        margin-top: $margin-zero;
        @include text-bold($page-header-mob);

        @include tablet {
            padding-left: $padding-zero;
            font-size: $section-header;
        }

        @include desktop {
            padding-left: $padding-zero;
        }
    }

    &__social-icon {
        display: flex;
        justify-content: flex-start;

        @include tablet {
            padding-right: 30%;
        }

        @include desktop {
            padding-right: 40%;
            padding-left: 7.2%;
        }
    }

    &__icon {
        padding: $lf-rt-mobile;
    }

    &__logo {
        @include mobile {
            opacity: 0;
        }
        @include tablet {
            opacity: 1;
            margin-right: 2.125rem;
        }

        @include desktop {
            padding-left: 5%;
        }
    }

    &__contact-info {
        color: $color-white;
        padding: 0 1rem 1rem 1rem;

        @include tablet {
            display: flex;
            justify-content: flex-start;
            padding-left: 4.2%;
        }

        @include desktop {
            display: flex;
            justify-content: flex-start;
            padding-left: 12%;
        }
    }

    &__info {
        line-height: $ln-height-mob;
        @include text-regular($sm-txt-mob);

        @include tablet {
            line-height: 1.25rem;
            font-size: $sm-txt-tab;
            padding-right: 10%;
        }
    }

    &__name {
        margin: $margin-zero;
        @include text-bold($sm-txt-mob);

        @include tablet {
            font-size: $sm-txt-tab;
        }
    }
    &__details {
        margin-top: $margin-zero;
        font-weight: 600;
    }

    &__logo-container {
        color: $color-white;
        padding: $space-1r;
    }
   
    &__logo-name {
        font-weight: 400;

        @include tablet {
        opacity: 0;
        margin: $margin-zero;
        font-size: 0;
        }
    }

    &__copyright {
        color: $color-white;
        margin-bottom: $margin-zero;
        @include text-regular($sm-txt-mob);
        line-height: $ln-height-mob;

        @include tablet {
            margin-top: $margin-zero;
            margin-bottom: 3%;
            padding-left: 3.3%;
            line-height: $ln-H-body-tab;
            font-size: $sm-txt-tab;  
        }

        @include desktop {
            padding-left: 11%;
        }
    }
}
