@use 'variables';

@mixin mobile {
    @media screen and (min-width: 20rem) {
      @content;
    }
}

@mixin tablet {
  @media screen and (min-width: 48rem) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 80rem) {
    @content;
  }
}

@mixin small-text() {
  font-size: 0.9rem;
  line-height: 1.125rem;
  font-weight: 400;
}

@mixin header-mobile() {
  font-size: 3.75rem;
  font-weight: 600;

}