
$bandsite-black: #323232;
$color-white: #ffffff;
$color-silver: #AFAFAF;
$color-alabaster: #fafafa;
$color-mercury: #e1e1e1;
$bandsite-darkblack: #000000;
$color-for-error: #D22D2D;

$line-divider: 1px solid $color-mercury;
$lf-rt-mobile: 0 1rem;
$margin-zero: 0;