
// $mobile-breakpoint: 20rem; // 320px
// $tablet-breakpoint: 48rem; // 768px
// $desktop-breakpoint: 80rem; // 1280px

$bandsite-black: #323232;
$color-white: #ffffff;
$color-silver: #AFAFAF;
$color-alabaster: #fafafa;
$color-mercury: #e1e1e1;

$line-divider: 1px solid $color-mercury;
$lf-rt-mobile: 0 1rem;
$margin-zero: 0;