
$bandsite-black: #323232;
$color-white: #ffffff;
$color-silver: #AFAFAF;
$color-alabaster: #fafafa;
$color-mercury: #e1e1e1;
$bandsite-darkblack: #000000;
$color-for-error: #D22D2D;

$line-divider: 1px solid $color-mercury;
$lf-rt-mobile: 0 1rem;
$lf-rt-tablet: 0 2rem;
$space-2r: 2rem;
$margin-zero: 0;
$padding-zero: 0;
$space-1r: 1rem;
$space-cmt-tab: 0 4.5rem;
$space-cmt-desktop: 0 5rem;
$btn-height: 2.5rem;
$margin-cmt-tab: 1.5rem;

$fifty-percent: 50%;

//Avatar
$avarta-mob: 2.25rem;
$avarta-tab: 3rem;

//Mobile style
$page-header-mob: 1.5rem;
$subheader-mob: 0.875rem;
$sm-txt-mob: 0.813rem;
$btn-mob: 0.625rem;
$form-mob: 2.25rem;

//Tablet & desktop style
$page-header: 3.75rem;
$section-header: 2.25rem;
$subheader-tab: 1.5rem;
$sm-txt-tab: 0.875rem;
$btn-tab: 0.75rem;
$btn-width-tab: 9.375rem;
$form-tab: 3rem;

//Line height
$ln-height-mob: 1.125rem;
$ln-height-tab: 2rem;
$ln-H-body-tab: 1.375rem;