@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/global' as *;


.header {
    background-color: $bandsite-black;
    width: 100%;

    &__nav-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    &__nav-logo {
        text-decoration: none;
        margin-left: 33%;
    }

    &__title {
        color: $white;

    }

    &__nav-list {
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    
    &__nav-link {
        color: $white;
        text-decoration: none;
        display: inline-block;
        width: 50vw;
        text-align: center;

        @include tablet {
            width: fit-content;
        }
        
        &--active {
            border-bottom:  2px solid white;
            padding-bottom: 10%;


        }
    }
}

//Tablet
@media (min-width: 48rem) {
    .header__nav-container {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
}




//hero section
.hero {
    background-color: rgba($color: $bandsite-black, $alpha: 50%);
  
    &__background {
        position: relative;
        height: 35vh;
        background-image: url(../assets/Images/hero-bio.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: rgba($color: $bandsite-black, $alpha: 50%);
        

 
    }

    &__title {
        color: $white;
        font-weight: 700;
        font-size: 1.5rem;
        margin-left: 5%;

    }
}

//Main Section 
.main__title {
    margin-left: 5%;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 44px;
}
.main__image {
    width: 100%;
    height: 30vh; 
    object-fit: cover; 
    margin: 0 auto;
    padding: 0 1rem;
}

.quotation {
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.375rem;
    padding: 1rem;

    &__text {
        margin-top: 0;
    }
}

.band {
    padding: 0 3% 3% 3%;
    font-size: 0.9rem;
    line-height: 1.125rem;

    &__title {
        margin-top: 0;
    }
}

.gallery {
    background-color: #fafafa;

    &__title {
        margin-top: 0;
        padding-top: 1.25rem;
        padding-left: 3%;
    }

    &__items {
        width: 100%;
        height: 100%;
        padding:0 1rem;
        padding-bottom: 1rem;
    }
}

.footer {
    background-color: $bandsite-black;

    &__title {
        color: $white;
        font-size: 1.5rem;
        padding: 1.5rem 0 0 1rem;
        margin-bottom: 1.5rem;
        margin-top: 0;
    }

    &__social-icon {
        display: flex;
        justify-content: space-evenly;
        padding-right: 70%;
    }

    &__icon {
        margin-left: 26%;
    }

    &__contact-info {
        color: $white;
        padding: 0 1rem 1rem 1rem;
    }

    &__name {
        margin-bottom: 0;
    }
    &__details {
        margin-top: 0;
        line-height: 1.125rem;
    }

    &__logo-container {
        color: $white;
        padding: 1rem;
    }
   
    &__logo-name {
        font-weight: 400;
    }

    &__copyright {
        color: $white;
        font-weight: 400;
        margin-bottom: 0;
    }
}

