@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/global' as *;
@use './partials/header' as *;
@use './partials/footer' as*;

//Hero Section
.hero {
    position: relative;
    height: 40vh;
    background-image: url(../assets/images/hero-bio.jpg), linear-gradient(rgba(50,50,50,60%), rgba(50,50,50,60%));
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include tablet {
        height: 60vh;
    }

    @include desktop {
        height: 75vh;
    }

    &__text {
        color: $color-white;
        margin-left: 5%;
        @include text-bold($page-header-mob);

        @include tablet {
            font-size: $page-header;
        }

        @include desktop {
            padding-left: 8%;
        }
    }
}

//Main Section 
.musicians {

    &__title {
        padding: 1.5rem 0 1rem 1rem;
        margin: $margin-zero;
        line-height: 44px;
        color: $bandsite-black;
        @include text-bold($page-header-mob);

        @include tablet {
            padding: 3rem 3rem 0 1.5rem;
            font-size: $section-header;
            // @include text-bold(2.5rem);
        }

        @include desktop {
            padding-left: 12%;
        }
    }

    &__image {
        width: 100%;
        object-fit: cover; 
        margin: 0 auto;
        padding: 0 1rem;

        @include tablet {
            padding: 2rem 4rem 2.5rem 4rem;
        }

        @include desktop {
            width: 100vw;
            padding: 3% 20% 3% 20%;
        }
    }
}

.quotation {
    @include text-bold(0.9rem);
    line-height: 1.375rem;
    padding: 1rem 1rem 0 1rem;

    @include tablet {
        padding: 0 4rem;
    }

    @include desktop {
        padding: 0 23% 0 20%;
    }

    &__text {
        @include tablet {
        margin-top: $margin-zero;
        font-size: $subheader-tab;
        line-height: $ln-height-tab;
        margin-bottom: $space-1r;
        }
    }

    &__footer {
        margin-top: $margin-zero;
    }
}

.band {
    margin: $lf-rt-mobile;
    font-size: 0.9rem;
    line-height: $ln-height-mob;

    &__title {
        margin-top: $margin-zero;
        line-height: $ln-height-mob;
        @include text-demi($subheader-mob);
        
        @include tablet {
            line-height: $ln-height-tab;
            padding-left: 3rem;
            margin-bottom: $margin-zero;
            padding-top: 1.5rem;
            @include text-bold($subheader-tab);
        }

        @include desktop {
            padding-left: 20%;
        }
    }

    &__text {
        @include text-regular($sm-txt-mob);

        @include tablet {
            padding: 0 3rem 1rem 3rem;
            display: flex;
            gap: 2rem;
            font-size: $sm-txt-tab;
            line-height: $ln-H-body-tab;
        }

        @include desktop {
            padding: 0 19% 2% 20%;
        }
    }
}

.gallery {
    background-color: $color-alabaster;

    &__title {
        margin-top: 0;
        padding-top: 1.25rem;
        padding-left: 3%;
        color: $bandsite-black;
        @include text-bold($page-header-mob);

        @include tablet {
            padding-left: 1.5rem;
            padding-top: 5%;
            line-height: $ln-height-tab;
            font-size: $section-header;
        }

        @include desktop {
            padding-left: 11.5%;
        }
    }

    &__list {
        @include tablet {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding: 0 1rem 1.5rem 0.3rem;
        }
        
        @include desktop {     
            padding: 0 4% 1% 10%;
        }
    }

    &__items {
        width: 100%;
        padding: $lf-rt-mobile;
        padding-bottom: $space-1r;

        @include tablet {
            width: 31vw;
            padding-right: $padding-zero;
            padding-bottom: 1.3rem;
        }

        @include desktop {
            width: 26vw;
            padding-bottom: $space-2r;
            padding-left: $padding-zero;
        }
    }
}

//Comment form
.comment {
    padding: $lf-rt-mobile;

    @include tablet {
        padding: $lf-rt-tablet;
    }

    &__storage {
        @include tablet {
        padding: $space-cmt-tab;
        }

        @include desktop {
            padding: 0 21rem;
        }
    }

    &__title {
        @include text-bold($page-header-mob);
        color: $bandsite-black;

        @include tablet {
            font-size: $section-header;
        }
    }

    &__area {
        display: flex;
        border-bottom: $line-divider;

        @include desktop {
            justify-content: center;
        }
    }

    &__profile {
        width: $avarta-mob;
        height: $avarta-mob;
        border-radius: $fifty-percent;
        margin: 1.5rem 1rem 0 0;

        @include tablet {
            width: $avarta-tab;
            height: $avarta-tab; 
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__name {
        padding: 0.3rem;
        color: $color-silver;
    }

    &__btn {
        display: flex;
        justify-content: flex-end;
    }

    &__btn-container {
        @include submit-btn;
        width: 70vw;
        @include text-bold($btn-mob);

        &:hover {
            background-color: $bandsite-darkblack;
        }
        
        &--click {
            background-color: $bandsite-darkblack;
        }

        @include tablet {
            width: $btn-width-tab;
            font-size: $btn-tab;
        }
    }
}

#userName {
    @include text-demi($subheader-mob);
    padding: 0.75rem;
    height: $form-mob;
    @include form-style;
    margin-bottom: 1.2rem;
    height: $form-mob;

    @include tablet {
        height: $form-tab;
        padding: $space-1r;
    }

    &.error {
        border-color: $color-for-error;
    }

    &.active {
        border-color: $bandsite-black;
    }

    &:focus {
        outline: none;
        border: 1px solid $bandsite-black;
    }
}

#addComment {
    @include text-demi($subheader-mob);
    padding: 1rem 1rem 4rem 1rem;
    @include form-style;
    margin-bottom: 1.2rem;
    height: $form-mob;

    @include tablet {
        width: 65vw;
        height: $form-tab;
    }

    @include desktop {
        width: 40vw;
    }
}

.comment-container {
    @include desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @include tablet {
        padding: $space-cmt-tab;
    }

    &__divider {
        display: flex;
        border-bottom: $line-divider;

        @include desktop {
            width: $fifty-percent;
        }
    }

    &__header {
        flex: 1;
    }

    &__img {
        width: $avarta-mob;
        height: $avarta-mob;
        background-color: $color-mercury;
        border-radius: $fifty-percent; 
        border: $space-1r solid $color-mercury; 
        flex-shrink: 0;
        flex-grow: 0;
        flex-basis: auto;
        margin-top: $space-1r;
        margin-right: $space-1r;

        @include tablet {
            width: $avarta-tab;
            height: $avarta-tab;
            margin-top: $space-2r;
        }
    }

    &__name {
        @include tablet {
            margin-top: $margin-cmt-tab;
        }
    }

    &__date {
        @include tablet {
            margin-top: $margin-cmt-tab;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        margin-top: $margin-zero;

        @include tablet {
            margin-bottom: $margin-cmt-tab;
        }
    }
}
