@use './partials/global' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;
@use './partials/footer' as*;
@use './partials/header' as *;

.hero-shows {

    position: relative;
    height: 50vh;
    background-image: url(../assets/Images/hero-shows.jpg), linear-gradient(rgba(50,50,50,60%), rgba(50,50,50,60%));
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $lf-rt-mobile;

    @include tablet {
        height: 80vh;
        padding: $lf-rt-tablet;
    }

    @include desktop {
        height: 75vh;
    }

    &__text {
        color: $color-white;
    }

    &__title {
        color: $color-white;
        margin: 0;
        width: 75%;
        @include text-bold($page-header-mob);

        @include tablet {
            font-size: $page-header;
        }
    }

    &__soundcloud {
        width: 100vw;
        margin-top: 10%;

        @include tablet {
            width: 52vw;
            height: 25vh;
            margin: $space-2r 0;
        }
    }
}

.body-title {
    padding: 1rem 0 0 1rem;
    margin-bottom: 0;
    @include text-bold($page-header-mob);
    color: $bandsite-black;

    @include tablet {
        padding: 1.5rem 2rem;
        font-size: $section-header;
    }
}

.shows {

    &__info-container {
        display: none;
        
        @include tablet {
        display: flex;
        justify-content: center;
        margin-right: 11.93rem;
        }
    }

    &__section {
        padding: $lf-rt-mobile;
    }

    &__details {
        opacity: 0;
       
        @include tablet {
            padding-left: 2rem;
            flex: 0.23;
            flex-grow: 1;
            flex-basis: auto;
            color:$color-silver;
            @include text-bold ($sm-txt-tab);
            opacity: 1;
        }
    }

    &__info {
        color: $bandsite-black;

        @include tablet {
            padding-right: 5%;
            padding-left: 3%;
            flex-grow: 1;
        }

        &--bold {
            @include text-bold(0.875rem);
        }
    }

    &__data {
        color: $color-silver;
        @include text-bold($sm-txt-mob);

        @include tablet {
            opacity: 0;
            font-size: 0;
        }
    }

    &__btn-container {
        display: flex;
        justify-content: center;

        @include tablet {
            padding: $lf-rt-tablet;
        }

    }

    &__button {
        @include submit-btn;
        width: 100%;
        height: $btn-height;
        font-size: $btn-mob;
        align-items: center;
        @include text-bold($btn-mob);

        &:hover {
            background-color: $bandsite-darkblack;
        }

        @include tablet {
            width: 9.375rem;
            @include text-bold($btn-tab);
        }
    }

    &__divider {
        padding: 0 1rem; 
        border-bottom: $line-divider;
    }

    &__section {
        @include tablet {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            padding-left: 0.8rem;
        }

        &:hover {
            background-color: $color-alabaster;
        }

        &--click {
            background-color: $color-mercury;
        }
    }
}