@use './partials/global' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;
@use './partials/footer' as*;
@use './partials/header' as *;

.hero-shows {

    position: relative;
    height: 50vh;
    background-image: url(../assets/Images/hero-shows.jpg), linear-gradient(rgba(50,50,50,50%), rgba(50,50,50,50%));
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $lf-rt-mobile;

    @include tablet {
        height: 80vh;
        padding: $lf-rt-tablet;
    }

    @include desktop {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: $margin-zero;
    }

    &__text {
        color: $color-white;
        @include text-bold($subheader-mob);

        @include tablet {
            font-size: $subheader-tab;
        }
    }

    &__title {
        color: $color-white;
        margin: $margin-zero;
        width: 75%;
        @include text-bold($page-header-mob);

        @include tablet {
            font-size: $page-header;
        }

        @include desktop {
            width: 36vw;
        }
    }

    &__music {
        @include desktop {
            padding-top: 5rem;
        }
    }

    &__soundcloud {
        width: 90vw;
        margin-top: 10%;
        border-radius: 4px;

        @include tablet {
            width: 52vw;
            margin: $space-2r 0;
        }

        @include desktop {
            width: 32vw;
        }
    }
}

.show-title {
    padding: 1rem 0 0 1rem;
    margin-bottom: $margin-zero;
    @include text-bold($page-header-mob);
    color: $bandsite-black;

    @include tablet {
        padding-left: 0.8rem;
        font-size: $section-header;
        margin-bottom: 2rem;
    }

    @include desktop {
        margin: $margin-zero;
        padding: 0 8rem;
    }
}

.shows {

    &__info-container {
        display: none;
        
        @include tablet {
        display: flex;
        justify-content: center;
        margin-right: 11.93rem;
        }

        @include desktop {
            margin-right: 10rem;
            margin-left: 3.125rem;
        }

        @include big-desktop {
            margin: 0 6.25rem;
        }
    }

    &__section {
        padding-left: $space-1r;
    }

    &__details {
        opacity: 0;
       
        @include tablet {
            padding-left: 0;
            flex: 0.23;
            flex-grow: 1;
            // flex-basis: auto;
            color:$color-silver;
            @include text-bold ($sm-txt-tab);
            opacity: 1;
            margin-right: 24px;

            &--padding {
                margin-right: 10px;
            }
        }

        @include desktop {
            padding: $padding-zero;
        }
    }

    &__info {
        color: $bandsite-black;

        @include tablet {
            flex-grow: 1;
        }

        &--bold {
            @include text-bold($subheader-mob);
        }

        @include desktop {
            max-width: 10rem;
        }
    }

    &__data {
        color: $color-silver;
        @include text-bold($sm-txt-mob);

        @include tablet {
            opacity: 0;
            font-size: 0;
        }

        @include desktop {
            flex: 1;
            max-width: 10rem;
        }
    }

    &__btn-container {
        display: flex;
        justify-content: center;

        @include tablet {
            padding: $lf-rt-tablet;
        }
    }

    &__button {
        @include submit-btn;
        width: 100%;
        height: $btn-height;
        font-size: $btn-mob;
        align-items: center;
        @include text-bold($btn-mob);

        &:hover {
            background-color: $bandsite-darkblack;
        }

        @include tablet {
            width: 9.375rem;
            @include text-bold($btn-tab);
        }

        @include desktop {
            margin-top: 1rem;
        }
    }

    &__divider {
        padding: $lf-rt-mobile; 
        border-bottom: $line-divider;
    }

    &__section {
        @include tablet {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            // padding-left: 0.8rem;
            padding: $padding-zero;
        }

        &:hover {
            background-color: $color-alabaster;
        }

        &--click {
            background-color: $color-mercury;
        }
    }
}

#shows-content {
    @include mobile {
        display: flex;
        flex-direction: column;
    }

    @include tablet {
        margin-bottom: 2rem;
        padding: 2rem;
    }

    @include desktop {
        display: flex;
        flex-direction: row;
        margin: 3rem;
        padding-right: 3rem;

        .shows {
            flex: 1; 
        }
    }
}